---
Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     4
ColumnLimit:     120
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
Standard: c++17
